--- 
import BaseLayout from '../../layouts/BaseLayout.astro';
const allBlogs = await Astro.glob('../blog/*.md');
const allDomains = await Astro.glob('../domains/*.md');
const Blogtags = [...new Set(allBlogs.map((post) => post.frontmatter.tags).flat())];
const Domaintags = [...new Set(allDomains.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Tag Index";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Domains Tags</h2>
  <div class="tags">
    {Domaintags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
  <h2>Blog Tags</h2>
  <div class="tags">
    {Blogtags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
</BaseLayout>
<style>
  a {
    text-decoration: none;
    color: black;
  }

  .tags {
    display: flex; 
    flex-wrap: wrap; 
    margin: 0 auto;  
  }
  .tags :hover, :focus {
    background-color: #86200369;
  }
  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>