--- 
import BaseLayout from '../../layouts/BaseLayout.astro';
const allBlogs = await Astro.glob('../blogs/*.md');
const allDomains = await Astro.glob('../domains/*.md');
const Blogtags = [...new Set(allBlogs.map((post) => post.frontmatter.tags).flat())];
const Domaintags = [...new Set(allDomains.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Tag Index";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {Blogtags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
  <div class="tags">
    {Domaintags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
</BaseLayout>
<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex; 
    flex-wrap: wrap; 
    margin: 0 auto;  
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>